//colors
$pink: #ff385c;
$black: #222222;
$white: #fff;
$dark-grey: #717171;
$dark-light: #c4c4c4;

//font
$open-sans: 'Open Sans';
$ligth: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-blod: 800;
